@import "../../utils/reset";
@import "../../utils/mixins";

.user_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  &_user {
    &_fullName {
      color: var(--gray-color-text);
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px; /* 157.143% */
      letter-spacing: -0.128px;
      cursor: pointer;
    }
  }

  .logout {
    cursor: pointer;
  }
}
