@import "../../utils/mixins";
@import "../../utils/reset";

.wrapper {
  padding: 100px 150px;
  width: 100vw;
  height: 100vh;
  @include flex_center;
  background: var(--accent-primary);
}

.detailedPizzaItem {
  padding: 50px 100px;
  background: var(--white);
  border-radius: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &_row {
    display: flex;
    gap: 32px;
  }

  &_ingredients {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_title {
      @include main_title;
      letter-spacing: 2px;
    }

    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;

      .ingredient {
        padding-left: 8px;
        @include flex_center;
        gap: 8px;

        .dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: var(--accent-primary);
        }

        & > li {
          font-size: 16px;
          line-height: 20px;
          color: var(--gray-color-text);
        }

        .delete {
          width: 30px;
          height: 30px;
          @include flex_center;
          border-radius: 50%;
          background: var(--accent-primary);
          cursor: pointer;

          & > div {
            width: 15px;
            height: 3px;
            background: var(--white);
          }
        }
      }
    }
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}