@import "../../../utils/reset";
@import "../../../utils/mixins";

.button {
  width: 100%;
  padding: 12px 20px;
  @include flex_center;
  background: transparent;
  border-radius: 32px;
  border: 1px solid var(--accent-primary);
  color: var(--accent-primary);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: var(--accent-primary);
    color: var(--white);
    transition: 0.3s;
    transform: scale(0.95);
  }
}